h1{
    text-align: center;
}
h6{
    text-align: center;
    margin-top: -30px;
    color: goldenrod;
}
#container{
    margin-top: 50px;
}
#Row{
    margin-top: 20px;
}
.caption{
    margin-top: 5px;
    text-align: center;
    color: gray;
    font-size: 25px;
}
#Newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin-top: 40px;
}
#nl_text{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: black;
}
